<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfRest.Service1" behaviorConfiguration="ServiceBehaviour">        
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"
                   behaviorConfiguration="web" contract="WcfRest.IService1"></endpoint>
      </service>
    </services>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ep">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
    <protocolMapping>
        <!--<add binding="basicHttpsBinding" scheme="https" />-->
      <remove scheme="http"/>
      <add scheme="https" binding="webHttpBinding"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
      <!--<webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport" >
            <transport clientCredentialType="None" proxyCredentialType="None" />
            --><!--transport clientCredentialType="Windows"/--><!--
          </security>
        </binding>
      </webHttpBinding>-->
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata  httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
</configuration>
