<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFNoEndpoints.Service1"  behaviorConfiguration="serviceBehavior">
        <endpoint address="Soap"
                  binding="basicHttpBinding"
                  bindingNamespace="soapBinding"
                  contract="WCFNoEndpoints.IService1"  name="SoapEndpointService" />
         <endpoint address="Json"
                  binding="basicHttpsBinding"
                  contract="WCFNoEndpoints.IService1"
                  behaviorConfiguration="JsonBehavior" 
                  name="ServiceJson"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
      </service>
    </services>
    <serviceHostingEnvironment  multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add service="WCFNoEndpoints.Service1" factory="WCFNoEndpoints.CustomHostFactory" relativeAddress="Service.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp faultExceptionEnabled="true"  defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false"/>
          <endpointDiscovery enabled="true" />
        </behavior>
        <behavior name="RestBehavior">
          <webHttp defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Xml" automaticFormatSelectionEnabled="false" faultExceptionEnabled="true"/>
          <endpointDiscovery enabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceAuthenticationManager  serviceAuthenticationManagerType="OAuth2"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
