<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcp" />
                <binding name="netTcp1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/WcfServiceLibrary/Service1/"
                binding="netTcpBinding" bindingConfiguration="netTcp" contract="ServiceReference1.IService1"
                name="netTcp">
                <identity>
                    <userPrincipalName value="v-tazho@fareast.corp.microsoft.com" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.168.197.122:8733/WcfServiceLibrary/Service1/"
                binding="netTcpBinding" bindingConfiguration="netTcp1" contract="ServiceReference2.IService1"
                name="netTcp1">
                <identity>
                    <userPrincipalName value="v-tazho@fareast.corp.microsoft.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8736/WcfServiceLibrary1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference3.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>